# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Deploy Jekyll with GitHub Pages dependencies preinstalled

on:
  # Trigger on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allow manual runs from the Actions tab
  workflow_dispatch:

# Set permissions for GITHUB_TOKEN to allow GitHub Pages deployment
permissions:
  contents: read
  pages: write
  id-token: write

# Configure concurrency settings
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        
      - name: Deploy to Ronins Server using Rsync
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -avziO
          path: _site/
          remote_path: ${{ secrets.REMOTE_DEPLOYMENT_DIR }}
          remote_host: ${{ secrets.REMOTE_HOST }}
          remote_user: ${{ secrets.REMOTE_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY_MC }}

  # Deploy job
  deploy:
    environment:
      name: github-pages
      url: ${{ needs.build.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
        id: deployment
